[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/thecherno/imgui
